/* White space for all content */
* {
  padding-left: 3px;
  padding-right: 3px;
}

#navbar{
    font-weight: bolder;
}

#welcome-text{
    font-size: medium;
    font-weight: bold;
    padding-top: 25px;
    padding-bottom: 0;
}

a{
  color: rgb(113, 45, 153);
}

.card-title{
    text-transform: capitalize;
}

/* h3 headings for each section for better readibility */
h3{
    margin-top: 25px;
    padding-bottom: 0;
}


/* Footer */
footer{
  padding: 100px 5px 50px;
  font-weight: bolder;
  font-size: large;
}

footer span {
  float: right;
  color: gray;
  padding-left: 50px;
}

/* Media query breakpoints */






